
@{
    Layout = null;
}

<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js " lang="en">
 <!--<![endif]-->
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Meta -->
    <title>DYS</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/Content/images1/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/Content/images1/apple-touch-icon.png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <!-- Custom & Default Styles -->
    <link rel="stylesheet" href="/Content/css1/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css1/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css1/carousel.css">
    <link rel="stylesheet" href="/Content/style.css">
</head>
<body class="left-menu">
    <div class="menu-wrapper">
        <header class="vertical-header">
            <div class="vertical-header-wrapper">
                <nav class="nav-menu">
                    <div class="logo">
                        <a href="index.html"><img src="/Content/images1/logo.png" alt=""></a>
                    </div><!-- end logo -->
                    <div class="margin-block"></div>
                    <ul class="primary-menu">
                        <li class="child-menu">
                            <a href="/Home/Index">ANASAYFA<i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="child-menu">
                            <a href="/Home/Hakkımızda">HAKKIMIZDA<i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="child-menu">
                            <a href="/Home/Fakülteler">FAKÜLTELER<i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="child-menu">
                            <a href="/Home/Duyurular">DUYURULAR <i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="child-menu">
                            <a href="/Home/ÖneriSikayet">ÖNERİ VE ŞİKAYET<i class="fa fa-angle-right"></i></a>
                        </li>
                        <li><a href="/Home/iletişim">İLETİŞİM</a></li>

                    </ul>

                    <div class="margin-block"></div>
                    <div class="menu-search">
                        <form>
                            <div class="form-group">
                                @*<input type="text" class="form-control" placeholder="What you are looking?">
                                    <button class="btn btn-primary"><i class="fa fa-search">SEARCH</i></button>*@
                            </div>
                        </form>
                    </div><!-- end menu-search -->
                    <div class="margin-block"></div>

                </nav><!-- end nav-menu -->
            </div><!-- end vertical-header-wrapper -->
        </header><!-- end header -->
    </div><!-- end menu-wrapper -->
    <div id="wrapper">
        <div id="home" class="video-section js-height-full">
            <div class="overlay"></div>
            <div class="home-text-wrapper relative container">
                <div class="home-message">
                    <img src="/Content/images1/biglogo.png" alt="">
                    <p>DERS YÖNETİM SİSTEMİ</p>
                    <div class="btn-wrapper">
                        <div class="text-center">
                            <a href="/Administration/Home/LogIn" class="btn btn-primary">GİRİŞ YAP</a> &nbsp;<a href="/Home/Register" class="btn btn-default">KAYIT OL</a>
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message">
                            <h3>@RenderBody()</h3>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->
    </div><!-- end wrapper -->
    <!-- jQuery Files -->

    <script src="/Content/js1/jquery.min.js"></script>
    <script src="/Content/js1/bootstrap.min.js"></script>
    <script src="/Content/js1/carousel.js"></script>
    <script src="/Content/js1/parallax.js"></script>
    <script src="/Content/js1/rotate.js"></script>
    <script src="/Content/js1/custom.js"></script>
    <script src="/Content/js1/masonry.js"></script>
    <script src="/Content/js1/masonry-4-col.js"></script>
    <!-- VIDEO BG PLUGINS -->
    <script src="/Content/videos/libs/swfobject.js"></script>
    <script src="/Content/videos/libs/modernizr.video.js"></script>
    <script src="/Content/videos/libs/video_background.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            var Video_back = new video_background($("#home"), {
                "position": "absolute", //Follow page scroll
                "z-index": "-1",        //Behind everything
                "loop": true,           //Loop when it reaches the end
                "autoplay": true,       //Autoplay at start
                "muted": true,          //Muted at start
                "mp4": "videos/video.mp4",     //Path to video mp4 format
                "video_ratio": 1.7778,              // width/height -> If none provided sizing of the video is set to adjust
                "fallback_image": "images/dummy.png",   //Fallback image path
                "priority": "html5"             //Priority for html5 (if set to flash and tested locally will give a flash security error)
            });
        });</script>
    @RenderSection("myscripts", false)
</body>
</html>