
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailOnay</title>
</head>
<body>
    <div> 
        Emailiniz Başarıyla Onaylandı.Yönetici Onayından Sonra Giriş Yapabilirsiniz. 
    </div>
</body>
</html>
