
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailError</title>
</head>
<body>
    <div> 
        HATALI İŞLEM!IP KAYIT ALTINDADIR.LÜTFEN MAİLİNİZDEKİ LİNKİ TIKLAYINIZ.
    </div>
</body>
</html>
